<div class="jumbotron">

	<centr>
		<h1>Hello Pizza Nerds</h1>

		<img src="https://dienu.files.wordpress.com/2010/03/pizza.jpg">
		<br>

		<%= link_to "Like what you see?" , pizzas_path, class: "btn btn-default"%>
	</centr>center>
</div>div>